extend text-layout

block content
  .container-fluid.content
    .row.section-title
      .col
        h2 #{title}
    .row.section-chapter-text
      .col
        h4 #{chapter}
        -  const textArray = chapterText.split('\n')
        each paragraph in textArray
          p #{paragraph}

    - let prevChapter = `${parseFloat(chapter) - 1}`;
    - let nextChapter = `${parseFloat(chapter) + 1}`;
    - let currentChapter=1;
    .row.section-chapter-nav
      .col
        .row
          .col-2
          .col-8.chapter-nav
            case parseFloat(chapter)
              when 1
                .btn-group
                  while currentChapter <= totalChapters
                      a(class="btn btn-outline-dark chapter" href="/novels/rockstar/" + currentChapter) #{currentChapter++}
                  a(class="btn btn-outline-dark next" href="/novels/rockstar/" + nextChapter) Следующая глава

              when totalChapters
                .btn-group
                  a(class="btn btn-outline-dark prev" href="/novels/rockstar/" + prevChapter) Предыдущая глава
                  while currentChapter <= totalChapters
                    a(class="btn btn-outline-dark chapter" href="/novels/rockstar/" + currentChapter) #{currentChapter++}
                
              default  
                .btn-group 
                  a(class="btn btn-outline-dark prev" href="/novels/rockstar/" + prevChapter) Предыдущая глава
                  while currentChapter <= totalChapters
                    a(class="btn btn-outline-dark chapter" href="/novels/rockstar/" + currentChapter) #{currentChapter++}
                  a(class="btn btn-outline-dark next" href="/novels/rockstar/" + nextChapter) Следующая глава
          .col-2

        .row
          .col.back
            a(class="btn btn-outline-dark", href="/novels/rockstar/" + chapter) наверх
